
.content div
{
    background-color: gray;
    opacity: .99;
    border-radius: 20px;
    width: 45%;
    height: 45%;
    float: left;
    padding-top: 1%;
    margin: 1%;
}

.content2 div
{
    background-color: gray;
    opacity: .9;
    border-radius: 20px;
    width: 45%;
    height: 45%;
    float: right;
    padding-top: 1%;
    margin: 1%;
}

.content:hover, .content2:hover
{
    opacity: .8;
}

.content img
{width: 90%;}
    
.content2 img
{width: 90%;}

.content
{
    text-align: center;
}
.content2
{
    text-align: center;
}

H1{
    font-size: 40px;
    text-align: center;
}

#connexion{
    font-size: 40px;
    text-align: center;
}


body
{
    background: url(../../images/test5.png)0px 0px;
}