.link_menu{
    width: 40%;
    height: 40%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: blue;
    display: inline-block;
    background-color: #424558;
    border-style: solid;
    border-color: rgb(230, 77, 38);
    opacity: 0.95;
}
.link_menu:hover{
    background-color: rgb(230, 77, 38);
    border-color: #424558;
}
.link_menu p{
    color: white;
    text-align: center;
    font-size: 4vw;
}
h1{
    text-align: center;
    font-size: 5vw;
}
body{
    background-image: url("../../images/test5.png");
}

