/* corps de la page*/
#content{	
	margin-left: 5%;
	padding-top: 12vh;
}
/* titres*/ 
h2{
	text-align: center;
	font-family: verdana;
}
/* Evenements a venir*/ 
.eventv{
	width: auto;
	min-height: 320px;
	border-style: solid ;
	border-radius: 4px;
	margin-left: 8%;
	margin-bottom: 5%;
	margin-right:5%;

  }

  /*parametre boutons*/
.button{
	background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:right;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button {
    background-color: #ff0000; 
    color: white; 
    border: 2px solid #ff0000;
}
.button:hover {
    background-color: white;
    color: black;
  }
 /*gestion placement div dans page*/

.imagevent{
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	margin-right:1%;
}
.titrevent{
	font-family:verdana;
	font-size:25px;
	margin-left: 2%;
	margin-top: -1%;
}
.datevent{
	font-family:verdana;
	font-size:20px;
	margin-left: 2%;
	margin-top: -1%;
}
.descriptionevent{
	font-family:verdana;
	font-size: 22px;
	margin-left: 2%;
	margin-top: 10%;
	margin-right:2%;
}
/* lien hypertexte*/

a{
	text-decoration:none;
	
}









body{
	font-family: 'Oswald', sans-serif;
	margin: 0px;
	padding: 0px;
}
nav{
	height: 10vh;
	width: 100%;
	position: fixed;
	background-color: #424558;
	font-size: 1.3vw;
}
nav ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul{
	margin-top: 0px;
	padding-top: 0px;
	display: inline-block;
}
nav > ul > li{
	float: left;
	position: relative;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav > ul > li >a{
	color: #FFF;
	height: 100%;
}
nav li:hover .submenu{
	display: block;
	background-color: rgba(230, 77, 38, 0.65);
	z-index: 1000;
}
.submenu{
	display: none;
	width: 100%;
	padding-left: 3%;
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	font-size: 1.1vw;
	color: #222538;
	width: 6vw;
}
li{
	list-style-type: none;
}
.nav_element{
	text-align: left;
	line-height: 8vh;
	height: 10vh;
}
#home_button{
	width: 10vh;
	margin-left: 2.9%;
	vertical-align: top;
}
#home_button_img{
	width: 100%;
}
.nav_element:hover{
	background-color: rgba(230, 77, 38, 0.15);
}
#left_menu{
	width: 3%;
	top: 50%;
	left: 0.5%;
	position: fixed;
	float: left;
	border-style: double;
}
#left_menu img{
	margin-top: 20%;
	margin-bottom: 20%;
	max-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#left_menu img:hover{
	max-width: 95%;
}


























