.main_content{
	width: 90%;
	padding-top: 12vh;
	margin-left: 5%;
}
#voter_idee a, #proposer_idee a{
	text-decoration: none;
	color: white;
}
#voter_idee, #proposer_idee{
	width: 40%;
	display: inline-block;
	background-color: #424558;
	color: white;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 0;
	padding-top: 0;
}
#voter_idee p, #proposer_idee p{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-size: 1.6vw;
	margin-top: 0;
	margin-bottom: 0;
}
#voter_idee:hover, #proposer_idee:hover{
	background-color: rgb(230, 77, 38);
}
#content{
	margin-top: 20vh;
}
#cible_result{
	position: fixed;
	top: 50%;
	text-align: center;
	font-size: 1.2vw;
	left: 30%;
}
.idea_item{
	width: 100%;
	border-style: dotted;
	margin-bottom: 2%;
	font-size: 0.9vw;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
}
.idea_title{
	font-size: 1.2vw;
}
.idea_item p{
	width: 85%;
	height: auto;
	display: inline-block;
}
.idea_item input{
	width: 7%;
	font-size: 100%;
	margin-left: 7%;
	display: inline-block;
	background-color: #ff0000; 
    color: white; 
    border: 2px solid #ff0000;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.idea_item input:hover{
	background-color: white;
    color: black;
}
