.main_content{
	width: 90%;
	padding-top: 12vh;
	margin-left: 5%;
}
.title_boutique h1{/*On définit l'allure de notre titre*/
	font-size: 1.5vw;
	width: 100%;
	text-align: center;
	border-style: groove;
	border-width: small;
	border-radius: 75px;
	border-color: #424558;
}
.boutique_display{/*C'est dans le nom...*/
	width: 100%;
	margin-left: 3%;
	margin-right: 3%;
	display: inline-block;
}
.boutique_item{/*Pareil*/
	width: 20%;
	display: inline-block;
}
.boutique_item img{/*On précise les dimensions maximales de notre image*/
	max-width: 100%;
	min-width: 20%;
	max-height: 30vh;
}
.boutique_item p{/*Et la taille de la police*/
	font-size: 1.1vw;
}
.input_number{
	float: left;
	width: 80%;
}
#button_valid{
	float: right;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 10%;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ff0000; 
    color: white; 
    border: 2px solid #ff0000;
}
#button_valid:hover{
	background-color: white;
    color: black;
}