/* corps de la page*/
#content{	
	margin-left: 5%;
	padding-top: 12vh;
}

/* titres*/ 
h2{
	text-align: center;
	padding-top: 1%;
}
/* partie evenement*/ 
.imagevent{
	
}

.datevent{
	font-size:25px;
	float: left;
	margin-left: 25%;
	margin-top : -20%;
}

.descriptionevent{
	font-size:20px;
	float:left;
	margin-left: 25%;
	margin-top : -15%;

}

/* partie commentaires */

.imageusers{

}

.nomusers{


}

.textcom{

}

.likecom{

}
